.speakerMain {
    height: auto; /* Adjust as needed */
    width: 100%;
    padding-bottom:5%;
    
  }
  .about_nittr{
    /* margin-top: -20px; */
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 85%;
    gap: 20px;
}

.about_nittr h1{
    /* padding-top: 10px; */
    color: rgb(32, 32, 172);
    /* font-size: 40px; */
}

.about_nittr p{
    text-align: justify;
    /* padding-left: 100px; */
    /* padding-right: 100px; */
    line-height: 35px;
    /* font-size: 17px; */
    color: rgb(116, 115, 115);
}
  .speakerCards {
    padding-top:20px;
    display: flex;
    flex-wrap: nowrap; /* Display cards in a single row */
    justify-content: flex-start; /* Adjust as needed */
    overflow-x: auto; /* Enable horizontal scrolling */
  }
  
  .speakerCards::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
  }
  