.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 100%;
}

.hRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.header-logo {
  width: 500px;
  height: 80px;
}

.center-logo {
  width: 100px;
  height: auto;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icon {
  font-size: 24px;
  color: #333;
}

@media (max-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .header-logo {
    width: 200px;  /* Increased width for mobile view */
    margin-right: 10px;
  }

  .center-logo {
    width: 70px;
    margin-right: 10px;
  }

  .social-icons {
    justify-content: flex-end;
    width: auto;
  }

  .hRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }
}
